section {
    overflow: visible;
  }
  .crumbs {
    overflow-x: auto;
    max-width: 760px;
    white-space: nowrap;
    padding-bottom: 8px;
    margin-top: 162px;
  }
  .crumbs::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    cursor: pointer;
  }
  
  .crumbs::-webkit-scrollbar{
    width:5px;
    max-height:5px
  }
  .crumbs::-webkit-scrollbar-track{
    background:#e5e5e5
  }
  .crumbs::-webkit-scrollbar-thumb{
    background:#2563EB;
    border-radius:4px
  }
  .BreadcrumbList {
    display: flex;
    width: 100%;
  }
  .BreadcrumbList p {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .BreadcrumbList p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  }
  .BreadcrumbList p a {
  margin-right: 20px;
  position: relative;
  text-decoration: underline;
  
  }
  .BreadcrumbList p a:hover{
    color: #2563EB;
  }
  .BreadcrumbList a {
  color: #333;
  }
  .BreadcrumbList span {
    font-size: 18px;
    margin: 0 15px;
    color: #bbb;
    display: none;
  }
  .BreadcrumbList p a::after {
    content: "";
    position: absolute;
    right: -17px;
    top: 4px;
    background-image: url(../images/double_arrow.png);
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
  }
  .related {
    padding: 150px 0 90px;
  }
  .relatedWraper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
  }
  .blog-pWraper {
  max-width: 68%;
  width: 100%;
  }
  .bolg-p {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 34px 50px 40px;
  max-width: 792px;
  width: 100%;
  }
  .headingWrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  }
  h1.text-left {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #01305C;
  margin-bottom: 20px;
  }
  .docDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 9px 20px;
  background: #2563EB;
  border: 1px solid #2563EB;
  border-radius: 7px;
  height: 100%;
  transition: all ease .2s;
  }
  .bolg-p a {
  font-weight: 400;
  color: #2563EB;
  }
  .bolg-p a:hover{
    text-decoration: underline;
  }
  .downBtnText {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  }
  .bolg-p .docDownload:hover {
  background: #1B449E;
  border: 1px solid #1B449E;
  text-decoration: none;
  }
  .main-sidebar {
  width: 100%;
  max-width: 313px;
  position: sticky;
  top: 120px;
  left: 0;
  }
  .subject_detail {
  position: sticky;
  top: 120px;
  left: 0;
  height: 535px;
  border-radius: 13.406px;
  padding: 22px;
  border: 1.3406px dashed #75B2E6;
  box-shadow: 4.02179px 9.38417px 25.4713px 1.3406px rgb(75 97 113 / 13%);
  }
  .singleSubject {
  background: #FFFFFF;
  padding: 0 20px 0 0;
  width: 100%;
  max-width: 293px;
  max-height: 465px;
  overflow-y: scroll;
  }
  .subhead {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #1a202e;
  padding-bottom: 20px;
  text-align: center;
  }
  .subjectwraper {
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  }
  .subject {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #585858;
  display: inline-block;
  text-underline-offset: 3px;
    /* width: 150px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .subject_link {
  text-decoration: none;
  color: #2F2F31;
  }
  .subject_link:hover{
    color: #2563EB;
  }
  .singleSubject span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #B4B4B4;
  }
  .singleSubject::-webkit-scrollbar {
  width: 5px;
  max-height: 5px
  }
  
  .singleSubject::-webkit-scrollbar-track {
  background: #e5e5e5
  }
  
  .singleSubject::-webkit-scrollbar-thumb {
  background: #2563EB;
  border-radius: 4px
  }
  .bolg-p p, .bolg-p li {
  font-style: normal;
  margin-top: 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 188.5%;
  color: #2F2F31;
  }
  .bolg-p h2 {
  margin: 30px 0 0;
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  }
  
  .bolg-p h3{
  margin: 30px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  }
  
  .bolg-p h4{
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  }
  
  .bolg-p ul, .bolg-p ol{
  padding-left: 40px;
  }
  
  .cta-example{
    margin-top: 20px;
    padding: 17px 20px;
    border: 1px solid #2563EB;
    border-radius: 5px;
    position: relative;
  }
  .cta-example::after{
    content: "";
    background-image: url(../images/cta-icon.svg);
    width: 56px;
    height: 53px;
    display: block;
    position: absolute;
    bottom: 17px;
    right: 20px;
  }
  .cta-example p{
  color: #1E2532;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  padding-bottom:22px;
  margin-top: 0;
  max-width: 90%;
  }
  .cta-example p.cta-link{
    color: #1E2532;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    padding-bottom:0px;
   
  }
  .cta-example p.cta-link a{
    color: #2563EB;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .cta-example p.cta-link a:hover{
    color: #2563EB;
    text-decoration: none;
  }
  
  
  
  /* for tables in blogs */
  table.responsive-table {
  border-collapse: collapse;
  border: 1px solid #000;
  width: 100%;
  font-size: 14px;
  padding: 0;
  }
  
  table.responsive-table td, table.responsive-table th {
  border: 1px solid #000;
  padding: 6px;
  }
  
  table.responsive-table thead {
  background-color: #82A3FF;
  font-size: 14px;
  }
  
  table.responsive-table tbody {
  font-size: 11px;
  }
  
  table.responsive-table th {
  text-align: center;
  font-weight: bold;
  }
  ul li::marker{
    color: #2563EB;
  }
  
  /* For screens between 991px and 1199px */
  @media only screen and (min-width: 991px) and (max-width: 1199px) {
  /* Add styles for medium screens here */
  table.responsive-table {
    font-size: 14px;
    padding: 10px;
  }
  }
  
  /* For screens between 767px and 990px */
  @media only screen and (min-width: 767px) and (max-width: 990px) {
  /* Add styles for small screens here */
  table.responsive-table {
    font-size: 12px;
    padding: 8px;
  }
  }
  
  /* For screens between 575px and 766px */
  @media only screen and (min-width: 575px) and (max-width: 766px) {
  /* Add styles for extra small screens here */
  table.responsive-table {
    font-size: 12px;
    padding: 8px;
  }
  }
  
  /* For screens between 428px and 574px */
  @media only screen and (min-width: 428px) and (max-width: 574px) {
  /* Add styles for extra extra small screens here */
  table.responsive-table {
    font-size: 12px;
    padding: 8px;
  }
  }
  
  /* For screens between 360px and 427px */
  @media only screen and (min-width: 360px) and (max-width: 427px) {
  /* Add styles for extra extra extra small screens here */
  table.responsive-table {
    font-size: 12px;
    padding: 8px;
  }
  }
  
  /* for tables in blogs */
  
  @media (max-width:1200px) {
  .blog-pWraper {
    max-width: 64%;
  }
  .bolg-p {
  padding: 60px 30px 30px;
  flex-basis: 70%;
  max-width: 100%;
  }
  .subject_detail {
  flex-wrap: wrap;
  }
  .singleSubject {
  margin-bottom: 15px;
  max-width: 300px;
  }
  .subject_detail {
  flex-wrap: wrap;
  }
  }
  @media (max-width:991px) {
  .blog-pWraper {
    max-width: 100%;
  }
  .relatedWraper {
  flex-direction: column;
  }
  .main-sidebar {
  margin: 30px auto 0;
  }
  }
  @media (max-width: 767px){
  .BreadcrumbList p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  h1.text-left {
  font-size: 26px;
  line-height: 32px;
  }
  .subject_detail {
  justify-content: center;
  }
  }
  @media (max-width: 575px){
  h1.text-left {
    font-size: 19px;
    line-height: 23px;
    padding-bottom: 18px;
  }
  .relatedWraper p, .relatedWraper li {
  font-size: 17px;
  line-height: 191.5%;
  margin-top: 25px;
  }
  .relatedWraper h2, .relatedWraper h3, .relatedWraper h4 {
  margin: 19px 0 10px;
  font-size: 22px;
  }
  .subject {
  font-size: 16px;
  line-height: 20px;
  margin-top: 0!important;
  }
  .singleSubject {
  padding: 30px;
  }
  .singleSubject {
  max-width: 345px;
  }
  .cta-example p {
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: 0;
  }
  .cta-example {
    margin-top: 20px;
    padding: 14px 15px;
  }
  .cta-example p.cta-link {
    font-size: 14px;
  }
  .cta-example::after {
    
    width: 54px;
    height: 49px;
     background-size: contain;
     background-repeat: no-repeat;
    bottom: 14px;
    right: 15px;
   
  }
  }
  
  