.navbarSec{
    padding: 24px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.navbarWrapper{
    padding: 15px 24px;    
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 11px 23px 0px rgba(139, 188, 233, 0.11);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tryFreeBtn{
    display: flex;
    align-items: center;
    gap: 7px;
}
.tryFreeBtn{
    padding: 12px 20px 11px;
    background: #2563EB;
    border-radius: 100px;
}
.navbarItems{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.nav-items{
    color: #18172F;
}
.tryBtnText{
    color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: normal;
}
.tryFreeBtn:hover{
    background: #1B449E;
}
.toggle-tryBtn{
    display: none;
}
@media (max-width: 768px) {
    .tryFreeBtn {
        display: none;
    }
    .toggle-tryBtn{
        display: block;
    }
}
@media (max-width:575px) {
    .navbarSec{
        padding: 15px 0;
    }
    .navbarWrapper{
        padding: 7px 12px;
    }
    img.navbarLogo{
        max-width: 172px;
        width: 100%;
        height: 42px;
    }
    .navbarWrapper .tryFreeBtn svg{
        display: none;
    }
    .navbarWrapper .tryFreeBtn{
        padding: 7px 14px;
    }
}